main {
    text-align: center;
    
}

#contenitore {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    gap: 10px;
    padding: 20px;
    width: 1500px;
    margin: auto;
    border: solid rgb(8, 8, 8) 2px;
    box-shadow: 5px 5px 2px #db5656;
    background-image: url(/assets/img/1.jpg);
}

.cella {
    border: 1px solid #b67777;
    padding: 8px;
    text-align: center;
    border-radius: 50px;
    background-color: white;
    color: black;
    font-weight: bold;
}

.selezionato {
    background-color: #a8af4c;   
}

.selezionato2 {
    background-color: red;

}

button {
    margin: 40px;
    font-size: 30px;
    border-radius: 5px;
}

#cartella {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
            max-width: 500px;
            margin: 20px auto;
}

.cella2 {
    border: 1px solid #b67777;
    padding: 8px;
    border-radius: 50px;
    background-color: white(104, 68, 68);
}